@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@500;700&family=Syncopate:wght@400;700&family=Tajawal:wght@200;300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@font-face {
  font-family: 'KyivType Sans';
  src: url("./fonts/KyivTypeSans-Light-.woff");
}

.latest-news__title, .subscribe__title, .header__logo-content--blue, .menu__list, .menu__contacts, .about__content-title, .latest-news__card-title, .subscribe__btn, .footer__logo-content--blue, .footer__title, .footer__sotials-text, .footer__contacts {
  font-weight: bold;
  font-family: "Syncopate", sans-serif;
}

.header__logo-content, .header__phone, .header__contacts-scedule, .menu__contacts-content, .slider__pagingInfo, .slider__pagingInfo-num, .footer__logo-content, .footer__contacts-content {
  font-weight: 400;
  font-family: "Syncopate", sans-serif;
}

.header__decorate-line, .about__hr {
  border: none;
  height: 1px;
  width: 100%;
}

.latest-news__card-text--1, .latest-news__card-text--2, .latest-news__card-text--3, .latest-news__card-text--4 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.latest-news__title, .subscribe__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 25px;
  color: #101010;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 23px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 33px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1366px) {
  .container {
    padding: 0 71px;
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 0;
  }
}

.page {
  scroll-behavior: smooth;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 72px;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.page__menu:target {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 768px) {
  .page__menu {
    left: 50%;
  }
}

@media (min-width: 1024px) {
  .page__menu {
    left: 59%;
  }
}

@media (min-width: 1366px) {
  .page__menu {
    left: 66%;
  }
}

@media (min-width: 1920px) {
  .page__menu {
    left: 74%;
  }
}

.page__body {
  margin: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.page__body.active {
  background-color: #101010;
}

@media (min-width: 768px) {
  .grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 16px;
    -ms-grid-columns: (minmax(96px, 1fr))[6];
        grid-template-columns: repeat(6, minmax(96px, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid {
    -ms-grid-columns: (minmax(64px, 1fr))[12];
        grid-template-columns: repeat(12, minmax(64px, 1fr));
  }
}

@media (min-width: 1366px) {
  .grid {
    grid-gap: 23px;
    -ms-grid-columns: (minmax(81px, 1fr))[12];
        grid-template-columns: repeat(12, minmax(81px, 1fr));
  }
}

@media (min-width: 1920px) {
  .grid {
    grid-gap: 32px;
    -ms-grid-columns: (minmax(111px, 1fr))[12];
        grid-template-columns: repeat(12, minmax(111px, 1fr));
  }
}

@media (min-width: 768px) {
  .grid__item--tab-1-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .grid__item--tab-1-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .grid__item--tab-1-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .grid__item--tab-1-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .grid__item--tab-1-5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  .grid__item--tab-1-6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .grid__item--tab-2-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .grid__item--tab-2-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .grid__item--tab-2-4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
  }
  .grid__item--tab-2-5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .grid__item--tab-2-6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
  }
  .grid__item--tab-3-3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .grid__item--tab-3-4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
  }
  .grid__item--tab-3-5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / 6;
  }
  .grid__item--tab-3-6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
  }
  .grid__item--tab-4-4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .grid__item--tab-4-5 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
  }
  .grid__item--tab-4-6 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
  }
  .grid__item--tab-5-5 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
  }
  .grid__item--tab-5-6 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
  }
  .grid__item--tab-6-6 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6 / 7;
  }
}

@media (min-width: 1024px) {
  .grid__item--L-Desk-1-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .grid__item--L-Desk-1-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .grid__item--L-Desk-1-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .grid__item--L-Desk-1-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .grid__item--L-Desk-1-5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  .grid__item--L-Desk-1-6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .grid__item--L-Desk-1-7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
  }
  .grid__item--L-Desk-1-8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
  .grid__item--L-Desk-1-9 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
  }
  .grid__item--L-Desk-1-10 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / 11;
  }
  .grid__item--L-Desk-1-11 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / 12;
  }
  .grid__item--L-Desk-1-12 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .grid__item--L-Desk-2-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .grid__item--L-Desk-2-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .grid__item--L-Desk-2-4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
  }
  .grid__item--L-Desk-2-5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .grid__item--L-Desk-2-6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
  }
  .grid__item--L-Desk-2-7 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
  }
  .grid__item--L-Desk-2-8 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
  }
  .grid__item--L-Desk-2-9 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
  }
  .grid__item--L-Desk-2-10 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2 / 11;
  }
  .grid__item--L-Desk-2-11 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  .grid__item--L-Desk-2-12 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2 / 13;
  }
  .grid__item--L-Desk-3-3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .grid__item--L-Desk-3-4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
  }
  .grid__item--L-Desk-3-5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / 6;
  }
  .grid__item--L-Desk-3-6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
  }
  .grid__item--L-Desk-3-7 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3 / 8;
  }
  .grid__item--L-Desk-3-8 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3 / 9;
  }
  .grid__item--L-Desk-3-9 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3 / 10;
  }
  .grid__item--L-Desk-3-10 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
  }
  .grid__item--L-Desk-3-11 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 9;
    grid-column: 3 / 12;
  }
  .grid__item--L-Desk-3-12 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3 / 13;
  }
  .grid__item--L-Desk-4-4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .grid__item--L-Desk-4-5 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
  }
  .grid__item--L-Desk-4-6 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
  }
  .grid__item--L-Desk-4-7 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / 8;
  }
  .grid__item--L-Desk-4-8 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4 / 9;
  }
  .grid__item--L-Desk-4-9 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / 10;
  }
  .grid__item--L-Desk-4-10 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4 / 11;
  }
  .grid__item--L-Desk-4-11 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4 / 12;
  }
  .grid__item--L-Desk-4-12 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4 / 13;
  }
  .grid__item--L-Desk-5-5 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
  }
  .grid__item--L-Desk-5-6 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
  }
  .grid__item--L-Desk-5-7 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5 / 8;
  }
  .grid__item--L-Desk-5-8 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
  }
  .grid__item--L-Desk-5-9 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    grid-column: 5 / 10;
  }
  .grid__item--L-Desk-5-10 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5 / 11;
  }
  .grid__item--L-Desk-5-11 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
    grid-column: 5 / 12;
  }
  .grid__item--L-Desk-5-12 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-column: 5 / 13;
  }
  .grid__item--L-Desk-6-6 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6 / 7;
  }
  .grid__item--L-Desk-6-7 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6 / 8;
  }
  .grid__item--L-Desk-6-8 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6 / 9;
  }
  .grid__item--L-Desk-6-9 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6 / 10;
  }
  .grid__item--L-Desk-6-10 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 5;
    grid-column: 6 / 11;
  }
  .grid__item--L-Desk-6-11 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6 / 12;
  }
  .grid__item--L-Desk-6-12 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / 13;
  }
  .grid__item--L-Desk-7-7 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-column: 7 / 8;
  }
  .grid__item--L-Desk-7-8 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7 / 9;
  }
  .grid__item--L-Desk-7-9 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7 / 10;
  }
  .grid__item--L-Desk-7-10 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7 / 11;
  }
  .grid__item--L-Desk-7-11 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7 / 12;
  }
  .grid__item--L-Desk-7-12 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / 13;
  }
  .grid__item--L-Desk-8-8 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-column: 8 / 9;
  }
  .grid__item--L-Desk-8-9 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 2;
    grid-column: 8 / 10;
  }
  .grid__item--L-Desk-8-10 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8 / 11;
  }
  .grid__item--L-Desk-8-11 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-column: 8 / 12;
  }
  .grid__item--L-Desk-8-12 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / 13;
  }
  .grid__item--L-Desk-9-9 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 1;
    grid-column: 9 / 10;
  }
  .grid__item--L-Desk-9-10 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
    grid-column: 9 / 11;
  }
  .grid__item--L-Desk-9-11 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
  }
  .grid__item--L-Desk-9-12 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
  }
  .grid__item--L-Desk-10-10 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 1;
    grid-column: 10 / 11;
  }
  .grid__item--L-Desk-10-11 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 2;
    grid-column: 10 / 12;
  }
  .grid__item--L-Desk-10-12 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10 / 13;
  }
  .grid__item--L-Desk-11-11 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 1;
    grid-column: 11 / 12;
  }
  .grid__item--L-Desk-11-12 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 2;
    grid-column: 11 / 13;
  }
  .grid__item--L-Desk-12-12 {
    -ms-grid-column: 12;
    -ms-grid-column-span: 1;
    grid-column: 12 / 13;
  }
}

@media (min-width: 1366px) {
  .grid__item--M-Desk-1-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .grid__item--M-Desk-1-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .grid__item--M-Desk-1-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .grid__item--M-Desk-1-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .grid__item--M-Desk-1-5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  .grid__item--M-Desk-1-6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .grid__item--M-Desk-1-7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
  }
  .grid__item--M-Desk-1-8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
  .grid__item--M-Desk-1-9 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
  }
  .grid__item--M-Desk-1-10 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / 11;
  }
  .grid__item--M-Desk-1-11 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / 12;
  }
  .grid__item--M-Desk-1-12 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .grid__item--M-Desk-2-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .grid__item--M-Desk-2-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .grid__item--M-Desk-2-4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
  }
  .grid__item--M-Desk-2-5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .grid__item--M-Desk-2-6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
  }
  .grid__item--M-Desk-2-7 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
  }
  .grid__item--M-Desk-2-8 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
  }
  .grid__item--M-Desk-2-9 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
  }
  .grid__item--M-Desk-2-10 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2 / 11;
  }
  .grid__item--M-Desk-2-11 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  .grid__item--M-Desk-2-12 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2 / 13;
  }
  .grid__item--M-Desk-3-3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .grid__item--M-Desk-3-4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
  }
  .grid__item--M-Desk-3-5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / 6;
  }
  .grid__item--M-Desk-3-6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
  }
  .grid__item--M-Desk-3-7 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3 / 8;
  }
  .grid__item--M-Desk-3-8 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3 / 9;
  }
  .grid__item--M-Desk-3-9 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3 / 10;
  }
  .grid__item--M-Desk-3-10 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
  }
  .grid__item--M-Desk-3-11 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 9;
    grid-column: 3 / 12;
  }
  .grid__item--M-Desk-3-12 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3 / 13;
  }
  .grid__item--M-Desk-4-4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .grid__item--M-Desk-4-5 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
  }
  .grid__item--M-Desk-4-6 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
  }
  .grid__item--M-Desk-4-7 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / 8;
  }
  .grid__item--M-Desk-4-8 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4 / 9;
  }
  .grid__item--M-Desk-4-9 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / 10;
  }
  .grid__item--M-Desk-4-10 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4 / 11;
  }
  .grid__item--M-Desk-4-11 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4 / 12;
  }
  .grid__item--M-Desk-4-12 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4 / 13;
  }
  .grid__item--M-Desk-5-5 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
  }
  .grid__item--M-Desk-5-6 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
  }
  .grid__item--M-Desk-5-7 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5 / 8;
  }
  .grid__item--M-Desk-5-8 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
  }
  .grid__item--M-Desk-5-9 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    grid-column: 5 / 10;
  }
  .grid__item--M-Desk-5-10 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5 / 11;
  }
  .grid__item--M-Desk-5-11 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
    grid-column: 5 / 12;
  }
  .grid__item--M-Desk-5-12 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-column: 5 / 13;
  }
  .grid__item--M-Desk-6-6 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6 / 7;
  }
  .grid__item--M-Desk-6-7 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6 / 8;
  }
  .grid__item--M-Desk-6-8 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6 / 9;
  }
  .grid__item--M-Desk-6-9 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6 / 10;
  }
  .grid__item--M-Desk-6-10 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 5;
    grid-column: 6 / 11;
  }
  .grid__item--M-Desk-6-11 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6 / 12;
  }
  .grid__item--M-Desk-6-12 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / 13;
  }
  .grid__item--M-Desk-7-7 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-column: 7 / 8;
  }
  .grid__item--M-Desk-7-8 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7 / 9;
  }
  .grid__item--M-Desk-7-9 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7 / 10;
  }
  .grid__item--M-Desk-7-10 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7 / 11;
  }
  .grid__item--M-Desk-7-11 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7 / 12;
  }
  .grid__item--M-Desk-7-12 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / 13;
  }
  .grid__item--M-Desk-8-8 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-column: 8 / 9;
  }
  .grid__item--M-Desk-8-9 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 2;
    grid-column: 8 / 10;
  }
  .grid__item--M-Desk-8-10 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8 / 11;
  }
  .grid__item--M-Desk-8-11 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-column: 8 / 12;
  }
  .grid__item--M-Desk-8-12 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / 13;
  }
  .grid__item--M-Desk-9-9 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 1;
    grid-column: 9 / 10;
  }
  .grid__item--M-Desk-9-10 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
    grid-column: 9 / 11;
  }
  .grid__item--M-Desk-9-11 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
  }
  .grid__item--M-Desk-9-12 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
  }
  .grid__item--M-Desk-10-10 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 1;
    grid-column: 10 / 11;
  }
  .grid__item--M-Desk-10-11 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 2;
    grid-column: 10 / 12;
  }
  .grid__item--M-Desk-10-12 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10 / 13;
  }
  .grid__item--M-Desk-11-11 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 1;
    grid-column: 11 / 12;
  }
  .grid__item--M-Desk-11-12 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 2;
    grid-column: 11 / 13;
  }
  .grid__item--M-Desk-12-12 {
    -ms-grid-column: 12;
    -ms-grid-column-span: 1;
    grid-column: 12 / 13;
  }
}

@media (min-width: 1920px) {
  .grid__item--B-Desk-1-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .grid__item--B-Desk-1-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .grid__item--B-Desk-1-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .grid__item--B-Desk-1-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .grid__item--B-Desk-1-5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  .grid__item--B-Desk-1-6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .grid__item--B-Desk-1-7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
  }
  .grid__item--B-Desk-1-8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
  .grid__item--B-Desk-1-9 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
  }
  .grid__item--B-Desk-1-10 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / 11;
  }
  .grid__item--B-Desk-1-11 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / 12;
  }
  .grid__item--B-Desk-1-12 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .grid__item--B-Desk-2-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .grid__item--B-Desk-2-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .grid__item--B-Desk-2-4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
  }
  .grid__item--B-Desk-2-5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .grid__item--B-Desk-2-6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
  }
  .grid__item--B-Desk-2-7 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
  }
  .grid__item--B-Desk-2-8 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
  }
  .grid__item--B-Desk-2-9 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
  }
  .grid__item--B-Desk-2-10 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2 / 11;
  }
  .grid__item--B-Desk-2-11 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  .grid__item--B-Desk-2-12 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2 / 13;
  }
  .grid__item--B-Desk-3-3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .grid__item--B-Desk-3-4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
  }
  .grid__item--B-Desk-3-5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / 6;
  }
  .grid__item--B-Desk-3-6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
  }
  .grid__item--B-Desk-3-7 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3 / 8;
  }
  .grid__item--B-Desk-3-8 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3 / 9;
  }
  .grid__item--B-Desk-3-9 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3 / 10;
  }
  .grid__item--B-Desk-3-10 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
  }
  .grid__item--B-Desk-3-11 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 9;
    grid-column: 3 / 12;
  }
  .grid__item--B-Desk-3-12 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3 / 13;
  }
  .grid__item--B-Desk-4-4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .grid__item--B-Desk-4-5 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
  }
  .grid__item--B-Desk-4-6 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
  }
  .grid__item--B-Desk-4-7 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / 8;
  }
  .grid__item--B-Desk-4-8 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4 / 9;
  }
  .grid__item--B-Desk-4-9 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / 10;
  }
  .grid__item--B-Desk-4-10 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4 / 11;
  }
  .grid__item--B-Desk-4-11 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4 / 12;
  }
  .grid__item--B-Desk-4-12 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4 / 13;
  }
  .grid__item--B-Desk-5-5 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
  }
  .grid__item--B-Desk-5-6 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
  }
  .grid__item--B-Desk-5-7 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5 / 8;
  }
  .grid__item--B-Desk-5-8 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
  }
  .grid__item--B-Desk-5-9 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    grid-column: 5 / 10;
  }
  .grid__item--B-Desk-5-10 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5 / 11;
  }
  .grid__item--B-Desk-5-11 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
    grid-column: 5 / 12;
  }
  .grid__item--B-Desk-5-12 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-column: 5 / 13;
  }
  .grid__item--B-Desk-6-6 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6 / 7;
  }
  .grid__item--B-Desk-6-7 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6 / 8;
  }
  .grid__item--B-Desk-6-8 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6 / 9;
  }
  .grid__item--B-Desk-6-9 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6 / 10;
  }
  .grid__item--B-Desk-6-10 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 5;
    grid-column: 6 / 11;
  }
  .grid__item--B-Desk-6-11 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6 / 12;
  }
  .grid__item--B-Desk-6-12 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / 13;
  }
  .grid__item--B-Desk-7-7 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-column: 7 / 8;
  }
  .grid__item--B-Desk-7-8 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7 / 9;
  }
  .grid__item--B-Desk-7-9 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7 / 10;
  }
  .grid__item--B-Desk-7-10 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7 / 11;
  }
  .grid__item--B-Desk-7-11 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7 / 12;
  }
  .grid__item--B-Desk-7-12 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / 13;
  }
  .grid__item--B-Desk-8-8 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-column: 8 / 9;
  }
  .grid__item--B-Desk-8-9 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 2;
    grid-column: 8 / 10;
  }
  .grid__item--B-Desk-8-10 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8 / 11;
  }
  .grid__item--B-Desk-8-11 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-column: 8 / 12;
  }
  .grid__item--B-Desk-8-12 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / 13;
  }
  .grid__item--B-Desk-9-9 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 1;
    grid-column: 9 / 10;
  }
  .grid__item--B-Desk-9-10 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
    grid-column: 9 / 11;
  }
  .grid__item--B-Desk-9-11 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
  }
  .grid__item--B-Desk-9-12 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
  }
  .grid__item--B-Desk-10-10 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 1;
    grid-column: 10 / 11;
  }
  .grid__item--B-Desk-10-11 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 2;
    grid-column: 10 / 12;
  }
  .grid__item--B-Desk-10-12 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10 / 13;
  }
  .grid__item--B-Desk-11-11 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 1;
    grid-column: 11 / 12;
  }
  .grid__item--B-Desk-11-12 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 2;
    grid-column: 11 / 13;
  }
  .grid__item--B-Desk-12-12 {
    -ms-grid-column: 12;
    -ms-grid-column-span: 1;
    grid-column: 12 / 13;
  }
}

.header__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 99px;
  position: relative;
}

@media (min-width: 768px) {
  .header__content-block {
    display: -ms-grid;
    display: grid;
    height: 127px;
  }
}

.header__logo-content {
  text-decoration: none;
  text-transform: uppercase;
  color: #101010;
  font-size: 20px;
  line-height: 20px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (min-width: 768px) {
  .header__logo-content {
    font-size: 36px;
    line-height: 37px;
  }
}

.header__logo-content--blue {
  color: #24A9F4;
}

.header__logo-content.active {
  color: white;
}

.header__contacts {
  display: none;
}

@media (min-width: 1024px) {
  .header__contacts {
    display: block;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 1920px) {
  .header__contacts {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.header__phone {
  display: block;
  color: #101010;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 11px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__phone.active {
  color: white;
}

.header__contacts-scedule {
  color: #BEBEBE;
  font-size: 13px;
  line-height: 14px;
}

.header__theme-toggle {
  display: none;
}

@media (min-width: 768px) {
  .header__theme-toggle {
    display: block;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (min-width: 1024px) {
  .header__theme-toggle {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 1366px) {
  .header__theme-toggle {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.header__menu-opener {
  width: 40px;
  height: 40px;
  background-image: url(../images/icons/burger-black.svg);
  background-size: cover;
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

@media (min-width: 768px) {
  .header__menu-opener {
    width: 48px;
    height: 48px;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.header__menu-opener.active {
  background-image: url(../images/icons/burger-white.svg);
}

.header__menu-open-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.header__decorate-line {
  background-color: #101010;
  position: absolute;
  bottom: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header__decorate-line.active {
  background-color: white;
}

.filter {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.menu {
  background-color: white;
  z-index: 2;
}

.menu.active {
  background-color: #101010;
}

.menu__content {
  height: 100vh;
  padding: 16px 23px;
}

.menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__close-link {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
}

.menu__cross-icon {
  margin: auto;
  width: 20px;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.menu__cross-icon.active {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.menu__cross-icon.active:hover {
  -webkit-filter: invert(53%) sepia(72%) saturate(2181%) hue-rotate(175deg) brightness(102%) contrast(91%);
          filter: invert(53%) sepia(72%) saturate(2181%) hue-rotate(175deg) brightness(102%) contrast(91%);
}

.menu__toggle {
  margin-bottom: 24px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}

.menu__toggle-btn {
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.active .menu__toggle-btn {
  left: 15px;
  background-image: url(../images/icons/dark-theme.svg);
}

.menu__list {
  list-style: none;
  font-size: 20px;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .menu__list {
    font-size: 32px;
    line-height: 33px;
  }
}

.menu__item {
  margin-bottom: 32px;
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #101010;
  cursor: pointer;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}

.menu__link:hover {
  text-shadow: -2px 1px 0px #24A9F4;
}

.menu__link--contact {
  font-size: 20px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .menu__link--contact {
    font-size: 32px;
    line-height: 33px;
  }
}

.menu__link--contacts {
  margin-bottom: 11px;
}

.menu__link.active {
  color: white;
}

.menu__contacts {
  list-style: none;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .menu__contacts {
    font-size: 18px;
    line-height: 19px;
  }
}

.menu__contacts-block {
  position: fixed;
  bottom: 24px;
}

.menu__contacts-content {
  color: #BEBEBE;
  font-size: 13px;
  line-height: 14px;
  cursor: pointer;
}

.menu__sotials {
  margin-top: 30px;
}

.menu__sotials-icon {
  display: inline-block;
  margin-right: 32px;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.menu__sotials-icon:hover {
  -webkit-filter: invert(57%) sepia(25%) saturate(3408%) hue-rotate(173deg) brightness(98%) contrast(96%);
          filter: invert(57%) sepia(25%) saturate(3408%) hue-rotate(173deg) brightness(98%) contrast(96%);
}

.menu__sotials-icon.active {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.menu__sotials-icon.active:hover {
  -webkit-filter: invert(53%) sepia(72%) saturate(2181%) hue-rotate(175deg) brightness(102%) contrast(91%);
          filter: invert(53%) sepia(72%) saturate(2181%) hue-rotate(175deg) brightness(102%) contrast(91%);
}

.toggle {
  width: 48px;
  height: 32px;
  background-image: url(../images/icons/Rectangle-362.svg);
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.toggle__btn {
  position: absolute;
  width: 35px;
  height: 37px;
  background-image: url(../images/icons/lite-theme.svg);
  background-size: cover;
  left: -5px;
  top: 1px;
  cursor: pointer;
  -webkit-transition: background-image 0.3s, left 0.3s;
  transition: background-image 0.3s, left 0.3s;
}

.active .toggle__btn {
  left: 15px;
  background-image: url(../images/icons/dark-theme.svg);
}

.about {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 49px;
}

.about__title {
  border-bottom: 1px solid #101010;
  padding: 16px 0;
}

@media (min-width: 1024px) {
  .about__title {
    height: 20%;
    padding: 0 0 16px;
  }
}

.about__title-img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.about__title-img:last-child {
  margin-bottom: 0;
}

.about__title-first.active {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1024px) {
  .about__content {
    height: 80%;
  }
}

.about__hr {
  background-color: #101010;
  margin-top: 16px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media (min-width: 1366px) {
  .about__hr {
    margin-top: 20px;
  }
}

.about__hr.active {
  background-color: white;
}

.about__content-block {
  border-bottom: 1px solid #101010;
  padding: 16px 0;
  position: relative;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

@media (min-width: 1366px) {
  .about__content-block {
    padding: 20px 0;
  }
}

.about__content-block--first {
  height: 20%;
  padding: 16px 0;
  border-bottom: none;
}

@media (min-width: 1024px) {
  .about__content-block--first {
    padding: 16px 0 6px;
  }
}

@media (min-width: 1366px) {
  .about__content-block--first {
    padding: 15px 0 20px;
  }
}

.about__content-block--first.active {
  border-bottom: none;
}

.about__content-block--second {
  border-top: 1px solid #101010;
  -webkit-transition: border-top 0.3s;
  transition: border-top 0.3s;
}

.about__content-block--second.active {
  border-top: 1px solid white;
}

.about__content-block.active {
  border-bottom: 1px solid white;
}

.about__content-title {
  font-size: 14px;
  line-height: 15px;
  color: #101010;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (min-width: 1366px) {
  .about__content-title {
    font-size: 15px;
  }
}

.about__content-title.active {
  color: white;
}

.about__content-title.active:hover {
  color: #24A9F4;
}

.about__content-arrow {
  display: block;
  width: 24px;
  height: 17px;
  position: absolute;
  top: 15px;
  right: 0;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.about__content-arrow.active {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.about__content-text {
  font-family: "KyivType Sans";
  font-size: 14px;
  color: #101010;
  line-height: 22px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (min-width: 1366px) {
  .about__content-text {
    font-size: 16px;
  }
}

.about__content-text.active {
  color: white;
}

.about__bottom-content {
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

.about__bottom-content.active {
  border-bottom: 1px solid white;
}

.slider-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 16px;
  position: relative;
}

@media (min-width: 768px) {
  .slider-container {
    padding-top: 0;
  }
}

.slider__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-bottom: 20%;
  background-size: cover !important;
}

@media (min-width: 1024px) {
  .slider__item {
    padding-bottom: 23%;
  }
}

@media (min-width: 1366px) {
  .slider__item {
    padding-bottom: 18%;
  }
}

.slider__slide1 {
  background: url(../images/pictures/unsplash_4CaVbHUXf5o.png) no-repeat center;
}

.slider__slide2 {
  background: url(../images/pictures/unsplash_i5FsBOLsB50.png) no-repeat center;
}

.slider__slide3 {
  background: url(../images/pictures/unsplash_Ubwb-m2eKAo.png) no-repeat center;
}

.slider__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 2px;
  width: 120px;
  height: 40px;
  left: 17px;
}

@media (min-width: 768px) {
  .slider__btn-container {
    bottom: 12px;
    width: 160px;
    left: 40px;
  }
}

@media (min-width: 1366px) {
  .slider__btn-container {
    width: 204px;
    bottom: 26px;
  }
}

.slider__btn {
  width: 31px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .slider__btn {
    width: 32px;
    height: 27px;
  }
}

@media (min-width: 1366px) {
  .slider__btn {
    width: 47px;
    height: 41px;
  }
}

.slider__prev-btn {
  background-image: url(../images/icons/arrow.white-empty.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.slider__prev-btn:hover {
  background-image: url(../images/icons/arrow-prew-full.png);
}

.slider__next-btn {
  background-image: url(../images/icons/arrow-white-next.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.slider__next-btn:hover {
  background-image: url(../images/icons/arrow-white-full.svg);
}

.slider__pagingInfo {
  color: white;
  font-size: 18px;
}

@media (min-width: 768px) {
  .slider__pagingInfo {
    font-size: 24px;
  }
}

@media (min-width: 1366px) {
  .slider__pagingInfo {
    font-size: 36px;
  }
}

.slider__pagingInfo-num {
  font-weight: bold;
  color: white;
  font-size: 18px;
}

@media (min-width: 768px) {
  .slider__pagingInfo-num {
    font-size: 24px;
  }
}

@media (min-width: 1366px) {
  .slider__pagingInfo-num {
    font-size: 36px;
  }
}

.latest-news {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 59px;
}

.latest-news__slider {
  display: block;
}

@media (min-width: 1024px) {
  .latest-news__slider {
    display: none;
  }
}

.latest-news__slider-card {
  margin-right: 16px;
}

.latest-news__slider-card:last-child {
  margin-right: 0;
}

.latest-news__card-wrap {
  border: 1px solid #101010;
  -webkit-transition: border 0.3s,  background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s,  background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s,  background-color 0.3s;
  transition: box-shadow 0.3s, border 0.3s,  background-color 0.3s, -webkit-box-shadow 0.3s;
}

@media (min-width: 1024px) {
  .latest-news__card-wrap:hover {
    -webkit-box-shadow: -5px 5px #24A9F4, -5px 5px 0px 1px #101010;
            box-shadow: -5px 5px #24A9F4, -5px 5px 0px 1px #101010;
  }
}

.latest-news__card-wrap.active {
  background-color: #272727;
  border: 1px solid white;
}

.latest-news__card-wrap.active:hover {
  -webkit-box-shadow: -5px 5px #24A9F4, -5px 5px 0px 1px white;
          box-shadow: -5px 5px #24A9F4, -5px 5px 0px 1px white;
}

.latest-news__slider-progress {
  display: block;
  width: 100%;
  height: 16px;
  margin-top: 24px;
  overflow: hidden;
  background-color: #EFEFEF;
  background-image: -webkit-gradient(linear, left top, right top, from(#101010), to(#101010));
  background-image: linear-gradient(to right, #101010, #101010);
  background-repeat: no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .4s ease-in-out, background-color 0.3s, background-image 0.3s;
  transition: background-size .4s ease-in-out, background-color 0.3s, background-image 0.3s;
}

@media (min-width: 1024px) {
  .latest-news__slider-progress {
    display: none;
  }
}

.latest-news__slider-progress.active {
  background-color: #413b3b;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(to right, white, white);
}

.latest-news__card-desktop {
  display: none !important;
}

@media (min-width: 1024px) {
  .latest-news__card-desktop {
    display: block !important;
  }
}

.latest-news__title {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .latest-news__title {
    font-size: 32px;
    line-height: 33px;
  }
}

@media (min-width: 1366px) {
  .latest-news__title {
    font-size: 36px;
    line-height: 37px;
  }
}

.latest-news__card-img-wrap {
  height: 167px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .latest-news__card-img-wrap {
    height: 136px;
  }
}

@media (min-width: 1366px) {
  .latest-news__card-img-wrap {
    height: 167px;
  }
}

@media (min-width: 1920px) {
  .latest-news__card-img-wrap {
    height: 232px;
  }
}

.latest-news__card-img-wrap .latest-news__card-img {
  width: 100%;
}

.latest-news__card-content {
  padding: 11px 25px;
  height: 203px;
}

@media (min-width: 768px) {
  .latest-news__card-content {
    height: 205px;
  }
}

@media (min-width: 1920px) {
  .latest-news__card-content {
    height: 170px;
  }
}

.latest-news__card-title {
  font-size: 16px;
  line-height: 20px;
  color: #101010;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (min-width: 768px) {
  .latest-news__card-title {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (min-width: 1366px) {
  .latest-news__card-title {
    font-size: 16px;
    line-height: 20px;
  }
}

.latest-news__card-title.active {
  color: white;
}

.latest-news__card-text {
  font-family: "KyivType Sans";
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (min-width: 768px) {
  .latest-news__card-text {
    width: 192px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: 1366px) {
  .latest-news__card-text {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}

.latest-news__card-text--1 {
  -webkit-line-clamp: 5;
}

@media (min-width: 1024px) {
  .latest-news__card-text--1 {
    -webkit-line-clamp: 6;
  }
}

@media (min-width: 1920px) {
  .latest-news__card-text--1 {
    -webkit-line-clamp: 4;
  }
}

.latest-news__card-text--2 {
  -webkit-line-clamp: 4;
}

@media (min-width: 1920px) {
  .latest-news__card-text--2 {
    -webkit-line-clamp: 3;
  }
}

.latest-news__card-text--3 {
  -webkit-line-clamp: 3;
}

@media (min-width: 768px) {
  .latest-news__card-text--3 {
    -webkit-line-clamp: 4;
  }
}

@media (min-width: 1920px) {
  .latest-news__card-text--3 {
    -webkit-line-clamp: 3;
  }
}

.latest-news__card-text--4 {
  -webkit-line-clamp: 2;
}

@media (min-width: 1366px) {
  .latest-news__card-text--4 {
    -webkit-line-clamp: 1;
  }
}

@media (min-width: 1920px) {
  .latest-news__card-text--4 {
    -webkit-line-clamp: 2;
  }
}

.latest-news__card-text.active {
  color: white;
}

.subscribe {
  border-top: 1px solid #101010;
  border-bottom: 1px solid #101010;
  padding: 56px 0;
  margin-bottom: 120px;
  -webkit-transition: border-top 0.3s, border-bottom 0.3s;
  transition: border-top 0.3s, border-bottom 0.3s;
}

.subscribe.active {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.subscribe__title {
  text-align: center;
  margin-bottom: 24px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (min-width: 768px) {
  .subscribe__title {
    padding: 0px 67px;
  }
}

@media (min-width: 1024px) {
  .subscribe__title {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .subscribe__title {
    font-size: 32px;
    line-height: 33px;
  }
}

@media (min-width: 1366px) {
  .subscribe__title {
    font-size: 36px;
    line-height: 37px;
  }
}

.subscribe__title.active {
  color: white;
}

@media (min-width: 768px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 46px;
  }
}

.subscribe__input {
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #C6C6C6;
  outline: none;
  padding: 0 24px;
  font-family: "KyivType Sans";
  color: #101010;
  font-size: 16px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .subscribe__input {
    display: inline-block;
    width: 70%;
  }
}

.subscribe__input::-webkit-input-placeholder {
  font-family: "KyivType Sans";
  color: #101010;
  font-size: 16px;
}

.subscribe__input:-ms-input-placeholder {
  font-family: "KyivType Sans";
  color: #101010;
  font-size: 16px;
}

.subscribe__input::-ms-input-placeholder {
  font-family: "KyivType Sans";
  color: #101010;
  font-size: 16px;
}

.subscribe__input::placeholder {
  font-family: "KyivType Sans";
  color: #101010;
  font-size: 16px;
}

.subscribe__btn {
  width: 100%;
  height: 48px;
  background-color: #101010;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media (min-width: 768px) {
  .subscribe__btn {
    width: 30%;
  }
}

.subscribe__btn:hover {
  background-color: #24A9F4;
}

.subscribe__btn.active {
  background-color: #24A9F4;
}

.subscribe__btn.active:hover {
  background-color: #1485C5;
}

.footer {
  background-color: #101010;
  padding-top: 40px;
  border-bottom: 57px solid #1A1A1A;
  -webkit-transition: background-color 0.3s, border-bottom 0.3s;
  transition: background-color 0.3s, border-bottom 0.3s;
}

.footer.active {
  background-color: #272727;
  border-bottom: 57px solid #2D2D2D;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__logo-content {
  font-size: 24px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

@media (min-width: 768px) {
  .footer__logo-content {
    font-size: 36px;
    line-height: 37px;
  }
}

.footer__logo-content--blue {
  color: #24A9F4;
}

.footer__title {
  font-size: 32px;
  line-height: 33px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 19px;
}

@media (min-width: 768px) {
  .footer__title {
    font-size: 24px;
    line-height: 25px;
  }
}

@media (min-width: 1024px) {
  .footer__title {
    font-size: 35px;
    line-height: 37px;
  }
}

.footer__socials {
  margin-bottom: 47px;
}

.footer__socials-block {
  height: 48px;
  margin-bottom: 16px;
  background-color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media (min-width: 768px) {
  .footer__socials-block {
    display: inline-block;
    width: 196px;
    margin-right: 24px;
  }
  .footer__socials-block:last-child {
    margin-right: 0;
  }
}

.footer__socials-block:hover {
  background-color: #24A9F4;
}

.footer__sotials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #101010;
}

.footer__icon.active {
  -webkit-filter: invert(7%) sepia(75%) saturate(24%) hue-rotate(352deg) brightness(94%) contrast(81%);
          filter: invert(7%) sepia(75%) saturate(24%) hue-rotate(352deg) brightness(94%) contrast(81%);
}

.footer__sotials-text {
  font-size: 16px;
  line-height: 22px;
  padding-left: 10px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transform: rotate(-0.49deg);
          transform: rotate(-0.49deg);
}

.footer__sotials-text.active {
  color: #272727;
}

.footer__contact-block {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .footer__contact-block {
    margin-bottom: 72px;
  }
}

@media (min-width: 1024px) {
  .footer__contact-block {
    margin-bottom: 80px;
  }
}

.footer__contacts {
  list-style: none;
  font-size: 18px;
  line-height: 19px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer__contacts {
    font-size: 16px;
    line-height: 17px;
  }
}

@media (min-width: 1024px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__item {
  margin-bottom: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .footer__item {
    margin-right: 42px;
  }
  .footer__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1920px) {
  .footer__item {
    margin-right: 32px;
  }
  .footer__item:last-child {
    margin-right: 0;
  }
}

.footer__link {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}

.footer__link--contacts {
  margin-bottom: 11px;
}

.footer__link:hover {
  text-shadow: -2px 1px 0px #24A9F4;
}

.footer__contacts-content {
  color: #BEBEBE;
  font-size: 13px;
  line-height: 14px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */