.page {
  &__menu {
    position: fixed;
    top: 0;
    left: 72px;
    right: 0;
    transform: translateX(+100%);
    transition: transform 0.5s;
  
    &:target {
      transform: translateX(0);
    }

    @include onTablet {
      left: 50%;
    }

    @include onLittleDesktopScreen {
      left: 59%;
    }

    @include onMiddleDesktopScreen {
      left: 66%;
    }

    @include onBigDesktopScreen {
      left: 74%;
    }
  }

  &__body {
    margin: 0;
    padding: 0;
  }
}
