.header {
  &__content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 99px;
    position: relative;

    @include onTablet {
      display: grid;
      height: 127px;
    }
  }

  &__logo-content {
    text-decoration: none;
    text-transform: uppercase;
    @extend %SyncopateThin;
    color: $mainBlack;
    font-size: 20px;
    line-height: 20px;
    transition: color 0.3s;

    @include onTablet {
      font-size: 36px;
      line-height: 37px;
    }

    &--blue {
      color: $mainBlue;
      @extend %SyncopateBold;
    }
  }

  &__logo-content.active {
    color: white;
  }

  &__contacts {
    display: none;

    @include onLittleDesktopScreen {
      display: block;
      justify-self: center;
    }

    @include onBigDesktopScreen {
      justify-self: end;
    }
  }

  &__phone {
    display: block;
    color: $mainBlack;
    @extend %SyncopateThin;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 11px;
    transition: color 0.3s;
  }

  &__phone.active {
    color: white;
  } 

  &__contacts-scedule {
    color: $colorGray;
    @extend %SyncopateThin;
    font-size: 13px;
    line-height: 14px;
  }

  &__theme-toggle {
    display: none;

    @include onTablet {
      display: block;
      justify-self: end;
    }

    @include onLittleDesktopScreen {
      justify-self: center;
    }

    @include onMiddleDesktopScreen {
      justify-self: end;
    }
  } 

  &__menu-opener {
    width: 40px;
    height: 40px;
    background-image: url(../images/icons/burger-black.svg);
    background-size: cover;
    transition: background-image 0.3s;

    @include onTablet {
      width: 48px;
      height: 48px;
      justify-self: end;
    }
  }

  &__menu-opener.active {
    background-image: url(../images/icons/burger-white.svg);
  }

  &__menu-open-link {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__decorate-line {
   @extend %hrStyle;
   background-color: $mainBlack;
   position: absolute;
   bottom: 10px;
   transition: background-color 0.3s;
  }

  &__decorate-line.active {
    background-color: white;
  }
}

.filter {
  filter:blur(5px);
}
