%SyncopateBold {
  font-weight: bold;
  font-family: $Syncopate;
}

%SyncopateThin {
  font-weight: 400;
  font-family: $Syncopate;
}

%hrStyle {
  background-color: $mainBlack;
  border: none;
  height: 1px;
  width: 100%;
}

%showCardContent {
  text-overflow: ellipsis;
  overflow:hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
