@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@500;700&family=Syncopate:wght@400;700&family=Tajawal:wght@200;300;400;500;700&display=swap');

$Syncopate: 'Syncopate', sans-serif;
$mainBlue: #24A9F4;
$mainBlack: #101010;
$colorGray: #BEBEBE;
