.about {
  height: fit-content;
  margin-bottom: 49px;
  
  &__title {
    border-bottom: 1px solid $mainBlack;
    padding: 16px 0;

    @include onLittleDesktopScreen {
      height: 20%;
      padding: 0 0 16px;
    }
  }

  &__title-img {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    transition: filter 0.3s;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title-first.active {
    filter: brightness(0) invert(1);
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include onLittleDesktopScreen {
      height: 80%;
    }
  }
}
